extends ./layout

block content
    .post
        .header
            img(src="http://placehold.it/50x50")
        .body
            p this is some random content
    .post
        .header
            img(src="http://placehold.it/50x50")
        .body
            img(src="http://placehold.it/500x500")
        .footer
            span.date 16 seconds ago
            span.actions Share | Upvote | Downvote
